@model IEnumerable<SuLnu.Models.NewsShortViewModel>
@{
    ViewData["Title"] = "News";
}
<style>
    th, td, p, h3 {
        color: black
    }

    .container {
        max-width: 1800px;
        text-align: center
    }

    body {
        background-color: #fffaeb;
    }
</style>
<body>
    <p>
        <a asp-action="CreateNews">Create News</a>
    </p>
    <div class="container ">
        <div class="row">
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {
                var numb = 4;
                if (count % 3 == 0)
                {
                    numb = 3;
                }
                <div class="col-@numb m-1" style="background-color:white">
                    <img src="@item.PhotoFilePath" style="width:inherit; height:inherit">
                    <h3 class="font-weight-bold align-self-lg-center">@Html.DisplayFor(modelItem => item.Tilte)</h3>
                    @{
                        var date = item.CreationDate;
                    }
                    <p class="font-weight-light" style="font-size:13px">@date.ToString("MMMM") @date.Day, @date.Year</p>
                </div>
                count+=1;
            }
        </div>
    </div>
</body>