@model SuLnu.Models.PagedViewModel

@{
    ViewData["Title"] = "News";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/allNews.css" />

</head>
<body>
    <p>
        <a asp-action="CreateNews">Create News</a>
    </p>
    <div class="container ">
        <div class="row">
            @{
                int count = 1;
            }
            @foreach (var item in Model.News)
            {
                var numb = 4;
                if (count % 3 == 0)
                {
                    numb = 3;
                }
                <div class="my-3 m-3 col-lg-@numb col-md-6 col-sm-12 col-12  news">
                    <img src="@item.PhotoFilePath" style="width:inherit; height:inherit">
                    @{
                        var date = item.CreationDate;
                    }
                    <p class="date">@date.ToString("MMMM") @date.Day, @date.Year</p>
                    <h3 class="font-weight-bold align-self-lg-center">@Html.DisplayFor(modelItem => item.Tilte)</h3>
                    <p class="likes"><i class="far fa-heart "></i> @item.NumberOflikes </p>
                    <p class="font-weight-light faculty">@item.FacultyName</p>
                </div>
                count += 1;
            }
        </div>
    </div>
    <h2>&nbsp;</h2>
    <div class="row">
        <div class="col-12 text-center">
            <div class="pagination">
                @using (Html.BeginForm("AllNews", "News", FormMethod.Post))
                {
                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        @if (i != Model.CurrentPageIndex)
                        {
                            @Html.ActionLink($"{i}", "AllNews", "News", new { page = i })
                        }
                        else
                        {
                            <a class="active">@i</a>
                        }
                    }
                }
                <h2>&nbsp;</h2>
                <h2>&nbsp;</h2>
            </div>
        </div>
    </div>
</body>
</html>